.slide img{
    margin-top: 20px;
    height: 800px;
    
}

.artistas figure img{
    height: 350px;
}

.form{
    width: 40%;
}


/* PADDING A TODO LO QUE NECESITA */

.imagen div img{
    width: 90%;
}

.logo{
width: 140px;
height: 60px;
margin-bottom: 15px;

}